[user]
	name = Ahushh
	email = ahushh@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
    ap = apply --ignore-space-change --ignore-whitespace fix-style 
	st = status
	co = checkout
	br = branch
	ci = commit
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[credential]
	helper = cache --timeout=360000
[push]
	default = current
